.bg-1 { 
    background-color: #1b4f72;
    color: #ffffff;
}

.bg-2 {
	background-color: #85c1e9  ;
}

.profile {
	width: 33%;

}

.container-fluid{
	padding-top: 50px;
	padding-bottom: 50px;
}

.container{
	padding-top: 50px;
	padding-bottom: 50px;
}

a {
	color: #1b4f72;
}

.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.cover {
	font-size: 24px;
	text-indent: 30px;
}

.edu-1{
	font-size: 24px;
}
.edu-2{
	font-size: 20px;
}
.edu-3{
	margin-left: 20px;
}
.edu-4{
	font-size: 18px;
}
.edu-5{
	font-size: 16px;
}
.edu-6{
	margin-left: 40px;
}
.edu-7{
	margin-left: 20px;
	font-weight: bold;
}
h2 {
	padding-top: 10px;
	padding-bottom: 10px;
}